{% extends 'base.html.twig' %}

{% block body %}

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Panels</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Bootstrap</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Panels</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Simple Panels</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="expanel expanel-default">
                                            <div class="expanel-body">
                                                Basic panel example
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->

                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Panel with heading</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="expanel expanel-default">
                                                    <div class="expanel-heading">Panel heading without title</div>
                                                    <div class="expanel-body">
                                                        Panel content
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="expanel expanel-default">
                                                    <div class="expanel-heading">
                                                        <h3 class="expanel-title">Panel title</h3>
                                                    </div>
                                                    <div class="expanel-body">
                                                        Panel content
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->

                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Panel with footer</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="expanel expanel-default">
                                            <div class="expanel-body">
                                                Panel content
                                            </div>
                                            <div class="expanel-footer">Panel footer</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End  Row -->

                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Panel with color header</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="expanel expanel-primary">
                                                    <div class="expanel-heading">
                                                        <h3 class="expanel-title">Panel title</h3>
                                                    </div>
                                                    <div class="expanel-body">
                                                        Panel content
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="expanel expanel-secondary">
                                                    <div class="expanel-heading">
                                                        <h3 class="expanel-title">Panel title</h3>
                                                    </div>
                                                    <div class="expanel-body">
                                                        Panel content
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="expanel expanel-success">
                                                    <div class="expanel-heading">
                                                        <h3 class="expanel-title">Panel title</h3>
                                                    </div>
                                                    <div class="expanel-body">
                                                        Panel content
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="expanel expanel-danger">
                                                    <div class="expanel-heading">
                                                        <h3 class="expanel-title">Panel title</h3>
                                                    </div>
                                                    <div class="expanel-body">
                                                        Panel content
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Row -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

   
		
{% endblock %}