{% extends 'custom-base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <!-- CONTAINER OPEN -->
    <div class="col col-login mx-auto mt-7">
        <div class="text-center">
            <a href="{{absolute_url(path('app_home'))}}"><img src="{{absolute_url(asset('build/images/brand/logo-white.png'))}}" class="header-brand-img" alt="logo"></a>
        </div>
    </div>

    <div class="container-login100">
        <div class="wrap-login100 p-6">
            <form class="login100-form validate-form" method="post">
                <span class="login100-form-title pb-5">
                    Demande de session
                </span>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}
                <div class="panel panel-primary">
                    <div class="tab-menu-heading">
                        <div class="tabs-menu1">
                            <!-- Tabs -->
                            <ul class="nav panel-tabs">
                                <li class="mx-0"><a href="#tab5" class="active" data-bs-toggle="tab">Email</a></li>
                                <li class="mx-0"><a href="#tab6" data-bs-toggle="tab">Mobile</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body tabs-menu-body p-0 pt-5">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab5">
                                <div class="wrap-input100 validate-input input-group" data-bs-validate="Valid email is required: ex@abc.xyz">
                                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                        <i class="zmdi zmdi-email text-muted" aria-hidden="true"></i>
                                    </a>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email"  class="input100 border-start-0 form-control ms-0" autocomplete="email" required autofocus>

                                </div>
                                <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                        <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i>
                                    </a>
                                    <input type="password" name="password" id="inputPassword" class="input100 border-start-0 form-control ms-0" autocomplete="current-password" placeholder="Password" required>
                                </div>
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                    </label>
                                </div>
                                <div class="text-end pt-4">
                                    <p class="mb-0"><a href="{{absolute_url(path('app_forgot_password'))}}" class="text-primary ms-1">Mot de passe perdu ?</a></p>
                                </div>
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn btn-primary" type="submit"> Connexion </button>
                                </div>
                                <div class="text-center pt-3">
                                    <p class="text-dark mb-0">Pas encore membre ?<a href="{{absolute_url(path('app_register'))}}" class="text-primary ms-1">Inscription</a></p>
                                </div>
                                <label class="login-social-icon"><span>Se connecter avec </span></label>
                                <div class="d-flex justify-content-center">
                                    <a href="javascript:void(0)">
                                        <div class="social-login me-4 text-center">
                                            <i class="fa fa-google"></i>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)">
                                        <div class="social-login me-4 text-center">
                                            <i class="fa fa-facebook"></i>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)">
                                        <div class="social-login text-center">
                                            <i class="fa fa-twitter"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6">
                                <div id="mobile-num" class="wrap-input100 validate-input input-group mb-4">
                                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                        <span>+91</span>
                                    </a>
                                    <input class="input100 border-start-0 form-control ms-0">
                                </div>
                                <div id="login-otp" class="justify-content-around mb-5">
                                    <input class="form-control text-center w-15" id="txt1" maxlength="1">
                                    <input class="form-control text-center w-15" id="txt2" maxlength="1">
                                    <input class="form-control text-center w-15" id="txt3" maxlength="1">
                                    <input class="form-control text-center w-15" id="txt4" maxlength="1">
                                </div>
                                <span>Note : Login with registered mobile number to generate OTP.</span>
                                <div class="container-login100-form-btn ">
                                    <a href="javascript:void(0)" class="login100-form-btn btn-primary" id="generate-otp">
                                        Proceed
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
    <!-- CONTAINER CLOSED -->
{% endblock %}
{% block javascripts %}
    {{parent()}}

    <!-- SHOW PASSWORD JS -->
    <script src="{{absolute_url(asset('build/plugins/show-password/show-password.min.js'))}}"></script>

    <!-- GENERATE OTP JS -->
    {{ encore_entry_script_tags('js/generate-otp') }}

{% endblock %}