{% extends 'base.html.twig' %}

{% block body %}

<!-- PAGE-HEADER -->
<div class="page-header">
    <h1 class="page-title">Dashboard 01</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

    <!-- CHART-CIRCLE JS-->
    <script src="{{absolute_url(asset('build/plugins/jquery/circle-progress.min.js'))}}"></script>

    <!-- PIETY CHART JS-->
    <script src="{{absolute_url(asset('build/plugins/peitychart/jquery.peity.min.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/peitychart/peitychart.init.js'))}}"></script>

    <!-- INTERNAL CHARTJS CHART JS-->
    <script src="{{absolute_url(asset('build/plugins/chart/Chart.bundle.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/chart/utils.js'))}}"></script>

    <!-- INTERNAL SELECT2 JS -->
    <script src="{{absolute_url(asset('build/plugins/select2/select2.full.min.js'))}}"></script>
    {{ encore_entry_script_tags('js/select2') }}

    <!-- INTERNAL Data tables js-->
    <script src="{{absolute_url(asset('build/plugins/datatable/js/jquery.dataTables.min.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/datatable/js/dataTables.bootstrap5.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/datatable/dataTables.responsive.min.js'))}}"></script>

    <!-- INTERNAL APEXCHART JS -->
    {{ encore_entry_script_tags('js/apexcharts') }}
    <script src="{{absolute_url(asset('build/plugins/apexchart/irregular-data-series.js'))}}"></script>

    <!-- INTERNAL Flot JS -->
    <script src="{{absolute_url(asset('build/plugins/flot/jquery.flot.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/flot/jquery.flot.fillbetween.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/flot/chart.flot.sampledata.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/flot/dashboard.sampledata.js'))}}"></script>

    <!-- INTERNAL Vector js -->
    <script src="{{absolute_url(asset('build/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'))}}"></script>

    <!-- C3 CHART JS -->
    <script src="{{absolute_url(asset('build/plugins/charts-c3/d3.v5.min.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/charts-c3/c3-chart.js'))}}"></script>

    <!-- INTERNAL INDEX JS -->
    {{ encore_entry_script_tags('js/index1') }}

    <!-- INTERNAL INDEX JS -->
    {{ encore_entry_script_tags('js/index') }}
   
{% endblock %}