{% extends 'custom-base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <!-- CONTAINER OPEN -->
    <div class="col col-login mx-auto mt-7">
        <div class="text-center">
            <a href="{{absolute_url(path('app_home'))}}"><img src="{{absolute_url(asset('build/images/brand/logo-white.png'))}}" class="header-brand-img m-0" alt=""></a>
        </div>
    </div>
    <div class="container-login100">
        <div class="wrap-login100 p-6">
            {{ form_start(registrationForm, {'attr': {'class': 'login100-form validate-form'}}) }}
                <span class="login100-form-title">
                        Création de compte utilisateur
                </span>
                {% for flash_error in app.flashes %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                <div class="wrap-input100 validate-input input-group" data-bs-validate="{{ form_errors(registrationForm.fullName) }}">
                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                        <i class="mdi mdi-account" aria-hidden="true"></i>
                    </a>
                    {{ form_widget(registrationForm.fullName, {'attr': {'class': 'input100 border-start-0 ms-0 form-control', 'placeholder': 'Nom'}}) }}
                </div>
                <div class="wrap-input100 validate-input input-group" data-bs-validate="{{ form_errors(registrationForm.email) }}">
                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                        <i class="mdi mdi-account" aria-hidden="true"></i>
                    </a>
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'input100 border-start-0 ms-0 form-control', 'placeholder': 'Email'}}) }}
                </div>
                <div class="wrap-input100 validate-input input-group" id="Password-toggle" data-bs-validate="{{ form_errors(registrationForm.plainPassword) }}">
                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                        <i class="zmdi zmdi-eye" aria-hidden="true"></i>
                    </a>
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input100 border-start-0 ms-0 form-control', 'placeholder': 'Mot de passe'}}) }}
                </div>
                <label class="custom-control custom-checkbox mt-4">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'custom-control-input'}}) }}
                    <span class="custom-control-label">Accepter les <a href="{{ absolute_url(path('app_terms')) }}">termes et la politique</a></span>
                </label>
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn btn-primary">
                        Enregistrer
                    </button>
                </div>
                <div class="text-center pt-3">
                    <p class="text-dark mb-0">Vous avez déjà un compte ? <a href="{{absolute_url(path('app_login'))}}" class="text-primary ms-1">S'identifier</a></p>
                </div>
                <label class="login-social-icon"><span>Connectez vous avec</span></label>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0)">
                        <div class="social-login me-4 text-center">
                            <i class="fa fa-google"></i>
                        </div>
                    </a>
                    <a href="javascript:void(0)">
                        <div class="social-login me-4 text-center">
                            <i class="fa fa-facebook"></i>
                        </div>
                    </a>
                    <a href="javascript:void(0)">
                        <div class="social-login text-center">
                            <i class="fa fa-twitter"></i>
                        </div>
                    </a>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>




{% endblock %}
{% block javascripts %}
    {{parent()}}

    <!-- SHOW PASSWORD JS -->
    <script src="{{absolute_url(asset('build/plugins/show-password/show-password.min.js'))}}"></script>

{% endblock %}