{% if '_doc' in app.request.attributes.get('_route') %}

    <!--APP-SIDEBAR-->
    <div class="sticky">
        <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
        <div class="app-sidebar">
            <div class="side-header">
                <a class="header-brand1" href="{{ absolute_url(path('app_home')) }}">
                    <img src="{{absolute_url(asset('build/images/brand/logo.png'))}}" class="header-brand-img desktop-logo" alt="logo">
                    <img src="{{absolute_url(asset('build/images/brand/logo-1.png'))}}" class="header-brand-img toggle-logo" alt="logo">
                    <img src="{{absolute_url(asset('build/images/brand/logo-2.png'))}}" class="header-brand-img light-logo" alt="logo">
                    <img src="{{absolute_url(asset('build/images/brand/logo-3.png'))}}" class="header-brand-img light-logo1" alt="logo">
                </a>
                <!-- LOGO -->
            </div>
            <div class="main-sidemenu">
                <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/></svg></div>
                <ul class="side-menu">
                    <li class="sub-category">
                        <h3>Main</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item has-link" data-bs-toggle="slide" href="{{ absolute_url(path('app_home')) }}"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span></a>
                    </li>
                    <li class="sub-category">
                        <h3>UI Kit</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">Apps</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Apps</a></li>
                            <li><a href="{{ absolute_url(path('app_cards')) }}" class="slide-item"> Cards design</a></li>
                            <li><a href="{{ absolute_url(path('app_calendar')) }}" class="slide-item"> Default calendar</a></li>
                            <li><a href="{{ absolute_url(path('app_calendar2')) }}" class="slide-item"> Full calendar</a></li>
                            <li><a href="{{ absolute_url(path('app_chat')) }}" class="slide-item"> Chat</a></li>
                            <li><a href="{{ absolute_url(path('app_notify')) }}" class="slide-item"> Notifications</a></li>
                            <li><a href="{{ absolute_url(path('app_sweetalert')) }}" class="slide-item"> Sweet alerts</a></li>
                            <li><a href="{{ absolute_url(path('app_rangeslider')) }}" class="slide-item"> Range slider</a></li>
                            <li><a href="{{ absolute_url(path('app_scroll')) }}" class="slide-item"> Content Scroll bar</a></li>
                            <li><a href="{{ absolute_url(path('app_loaders')) }}" class="slide-item"> Loaders</a></li>
                            <li><a href="{{ absolute_url(path('app_counters')) }}" class="slide-item"> Counters</a></li>
                            <li><a href="{{ absolute_url(path('app_rating')) }}" class="slide-item"> Rating</a></li>
                            <li><a href="{{ absolute_url(path('app_timeline')) }}" class="slide-item"> Timeline</a></li>
                            <li><a href="{{ absolute_url(path('app_treeview')) }}" class="slide-item"> Treeview</a></li>
                            <li><a href="{{ absolute_url(path('app_chart')) }}" class="slide-item"> Charts</a></li>
                            <li><a href="{{ absolute_url(path('app_footers')) }}" class="slide-item"> Footers</a></li>
                            <li><a href="{{ absolute_url(path('app_users_list')) }}" class="slide-item"> User List</a></li>
                            <li><a href="{{ absolute_url(path('app_search')) }}" class="slide-item">Search</a></li>
                            <li><a href="{{ absolute_url(path('app_crypto_currencies')) }}" class="slide-item"> Crypto-currencies</a></li>
                            <li><a href="{{ absolute_url(path('app_widgets')) }}" class="slide-item"> Widgets</a></li>

                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i
                                    class="side-menu__icon fe fe-package"></i><span
                                    class="side-menu__label">Bootstrap</span><i
                                    class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu mega-slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Bootstrap</a></li>
                            <div class="mega-menu">
                                <div class="">
                                    <ul>
                                        <li><a href="{{ absolute_url(path('app_alerts')) }}" class="slide-item"> Alerts</a></li>
                                        <li><a href="{{ absolute_url(path('app_buttons')) }}" class="slide-item"> Buttons</a></li>
                                        <li><a href="{{ absolute_url(path('app_colors')) }}" class="slide-item"> Colors</a></li>
                                        <li><a href="{{ absolute_url(path('app_avatarsquare')) }}" class="slide-item"> Avatar Square</a></li>
                                        <li><a href="{{ absolute_url(path('app_avatar_radius')) }}" class="slide-item"> Avatar Radius</a></li>
                                        <li><a href="{{ absolute_url(path('app_avatar_round')) }}" class="slide-item"> Avatar Rounded</a></li>
                                        <li><a href="{{ absolute_url(path('app_dropdown')) }}" class="slide-item"> Dropdowns</a></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <ul>
                                        <li><a href="{{ absolute_url(path('app_listgroup')) }}" class="slide-item"> List Group</a></li>
                                        <li><a href="{{ absolute_url(path('app_tags')) }}" class="slide-item"> Tags</a></li>
                                        <li><a href="{{ absolute_url(path('app_pagination')) }}" class="slide-item"> Pagination</a></li>
                                        <li><a href="{{ absolute_url(path('app_navigation')) }}" class="slide-item"> Navigation</a></li>
                                        <li><a href="{{ absolute_url(path('app_typography')) }}" class="slide-item"> Typography</a></li>
                                        <li><a href="{{ absolute_url(path('app_breadcrumbs')) }}" class="slide-item"> Breadcrumbs</a></li>
                                        <li><a href="{{ absolute_url(path('app_badge')) }}" class="slide-item"> Badges / Pills</a></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <ul>
                                        <li><a href="{{ absolute_url(path('app_panels')) }}" class="slide-item"> Panels</a></li>
                                        <li><a href="{{ absolute_url(path('app_thumbnails')) }}" class="slide-item"> Thumbnails</a></li>
                                        <li><a href="{{ absolute_url(path('app_offcanvas')) }}" class="slide-item"> Offcanvas</a></li>
                                        <li><a href="{{ absolute_url(path('app_toast')) }}" class="slide-item"> toast</a></li>
                                        <li><a href="{{ absolute_url(path('app_scrollspy')) }}" class="slide-item"> Scrollspy</a></li>
                                        <li><a href="{{ absolute_url(path('app_mediaobject')) }}" class="slide-item"> Media Object</a></li>
                                    </ul>
                                </div>
                                <div class="">
                                    <ul>
                                        <li><a href="{{ absolute_url(path('app_accordion')) }}" class="slide-item"> Accordions </a></li>
                                        <li><a href="{{ absolute_url(path('app_tabs')) }}" class="slide-item"> Tabs</a></li>
                                        <li><a href="{{ absolute_url(path('app_modal')) }}" class="slide-item"> Modal</a></li>
                                        <li><a href="{{ absolute_url(path('app_tooltipandpopover')) }}" class="slide-item"> Tooltip and popover</a></li>
                                        <li><a href="{{ absolute_url(path('app_progress')) }}" class="slide-item"> Progress</a></li>
                                        <li><a href="{{ absolute_url(path('app_carousel')) }}" class="slide-item"> Carousels</a></li>
                                        <li><a href="{{ absolute_url(path('app_ribbons')) }}" class="slide-item"> Ribbons</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li>
                        <a class="side-menu__item has-link" href="{{ absolute_url(path('app_landing')) }}" target="_blank"><i
                                    class="side-menu__icon fe fe-zap"></i><span
                                    class="side-menu__label">Landing Page</span><span class="badge bg-green br-5 side-badge blink-text pb-1">New</span></a>
                    </li>
                    <li class="sub-category">
                        <h3>Pre-build Pages</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-layers"></i><span class="side-menu__label">Pages</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Pages</a></li>
                            <li><a href="{{ absolute_url(path('app_profile')) }}" class="slide-item"> Profile</a></li>
                            <li><a href="{{ absolute_url(path('app_editprofile')) }}" class="slide-item"> Edit Profile</a></li>
                            <li><a href="{{ absolute_url(path('app_notify_list')) }}" class="slide-item"> Notifications List</a></li>
                            <li><a href="{{ absolute_url(path('app_email_compose')) }}" class="slide-item"> Mail-Compose</a></li>
                            <li><a href="{{ absolute_url(path('app_email_inbox')) }}" class="slide-item"> Mail-Inbox</a></li>
                            <li><a href="{{ absolute_url(path('app_email_read')) }}" class="slide-item"> Mail-Read</a></li>
                            <li><a href="{{ absolute_url(path('app_gallery')) }}" class="slide-item"> Gallery</a></li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Forms</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a href="{{ absolute_url(path('app_form_elements')) }}" class="sub-slide-item"> Form Elements</a></li>
                                    <li><a href="{{ absolute_url(path('app_form_layouts')) }}" class="sub-slide-item"> Form Layouts</a></li>
                                    <li><a href="{{ absolute_url(path('app_form_advanced')) }}" class="sub-slide-item"> Form Advanced</a></li>
                                    <li><a href="{{ absolute_url(path('app_form_editor')) }}" class="sub-slide-item"> Form Editor</a></li>
                                    <li><a href="{{ absolute_url(path('app_form_wizard')) }}" class="sub-slide-item"> Form Wizard</a></li>
                                    <li><a href="{{ absolute_url(path('app_form_validation')) }}" class="sub-slide-item"> Form Validation</a></li>
                                    <li><a href="{{ absolute_url(path('app_form_input_spinners')) }}" class="sub-slide-item"> Form Input Spinners</a></li>
                                </ul>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Tables</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a href="{{ absolute_url(path('app_tables')) }}" class="sub-slide-item">Default table</a></li>
                                    <li><a href="{{ absolute_url(path('app_datatable')) }}" class="sub-slide-item"> Data Tables</a></li>
                                    <li><a href="{{ absolute_url(path('app_edit_table')) }}" class="sub-slide-item"> Edit Tables</a></li>
                                    <li><a href="{{ absolute_url(path('app_extension_tables')) }}" class="sub-slide-item"> Extension Tables</a></li>
                                </ul>
                            </li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Extension</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a href="{{ absolute_url(path('app_about')) }}" class="sub-slide-item"> About Company</a></li>
                                    <li><a href="{{ absolute_url(path('app_services')) }}" class="sub-slide-item"> Services</a></li>
                                    <li><a href="{{ absolute_url(path('app_faq')) }}" class="sub-slide-item"> FAQS</a></li>
                                    <li><a href="{{ absolute_url(path('app_terms')) }}" class="sub-slide-item"> Terms</a></li>
                                    <li><a href="{{ absolute_url(path('app_invoice')) }}" class="sub-slide-item"> Invoice</a></li>
                                    <li><a href="{{ absolute_url(path('app_pricing')) }}" class="sub-slide-item"> Pricing Tables</a></li>
                                    <li><a href="{{ absolute_url(path('app_settings')) }}" class="sub-slide-item"> Settings</a></li>
                                    <li><a href="{{ absolute_url(path('app_blog')) }}" class="sub-slide-item"> Blog</a></li>
                                    <li><a href="{{ absolute_url(path('app_blog_details')) }}" class="sub-slide-item"> Blog Details</a></li>
                                    <li><a href="{{ absolute_url(path('app_blog_post')) }}" class="sub-slide-item"> Blog Post</a></li>
                                    <li><a href="{{ absolute_url(path('app_empty')) }}" class="sub-slide-item"> Empty Page</a></li>
                                    <li><a href="{{ absolute_url(path('app_construction')) }}" class="sub-slide-item"> Under Construction</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ absolute_url(path('app_switcher')) }}" class="slide-item"> Switcher</a></li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-shopping-bag"></i><span class="side-menu__label">E-Commerce</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">E-Commerce</a></li>
                            <li><a href="{{ absolute_url(path('app_shop')) }}" class="slide-item"> Shop</a></li>
                            <li><a href="{{ absolute_url(path('app_shop_description')) }}" class="slide-item"> Product Details</a></li>
                            <li><a href="{{ absolute_url(path('app_cart')) }}" class="slide-item"> Shopping Cart</a></li>
                            <li><a href="{{ absolute_url(path('app_add_product')) }}" class="slide-item"> Add Product</a></li>
                            <li><a href="{{ absolute_url(path('app_wishlist')) }}" class="slide-item"> Wishlist</a></li>
                            <li><a href="{{ absolute_url(path('app_checkout')) }}" class="slide-item"> Checkout</a></li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-folder"></i><span class="side-menu__label">File Manager</span><span class="badge bg-pink side-badge">4</span><i class="angle fe fe-chevron-right hor-angle"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">File Manager</a></li>
                            <li><a href="{{ absolute_url(path('app_file_manager')) }}" class="slide-item"> File Manager</a></li>
                            <li><a href="{{ absolute_url(path('app_filemanager_list')) }}" class="slide-item"> File Manager List</a></li>
                            <li><a href="{{ absolute_url(path('app_filemanager_details')) }}" class="slide-item"> File Details</a></li>
                            <li><a href="{{ absolute_url(path('app_file_attachments')) }}" class="slide-item"> File Attachments</a></li>
                        </ul>
                    </li>
                    <li class="sub-category">
                        <h3>Misc Pages</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-users"></i><span class="side-menu__label">Authentication</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Authentication</a></li>
                            <li><a href="{{ absolute_url(path('app_login')) }}" class="slide-item"> Login</a></li>
                            <li><a href="{{ absolute_url(path('app_register')) }}" class="slide-item"> Register</a></li>
                            <li><a href="{{ absolute_url(path('app_forgot_password')) }}" class="slide-item"> Forgot Password</a></li>
                            <li><a href="{{ absolute_url(path('app_lockscreen')) }}" class="slide-item"> Lock screen</a></li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Error Pages</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a href="{{ absolute_url(path('app_error400')) }}" class="sub-slide-item"> 400</a></li>
                                    <li><a href="{{ absolute_url(path('app_error401')) }}" class="sub-slide-item"> 401</a></li>
                                    <li><a href="{{ absolute_url(path('app_error403')) }}" class="sub-slide-item"> 403</a></li>
                                    <li><a href="{{ absolute_url(path('app_error404')) }}" class="sub-slide-item"> 404</a></li>
                                    <li><a href="{{ absolute_url(path('app_error500')) }}" class="sub-slide-item"> 500</a></li>
                                    <li><a href="{{ absolute_url(path('app_error503')) }}" class="sub-slide-item"> 503</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
                            <i class="side-menu__icon fe fe-cpu"></i>
                            <span class="side-menu__label">Submenu items</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Submenu items</a></li>
                            <li><a href="javascript:void(0)" class="slide-item">Submenu-1</a></li>
                            <li class="sub-slide">
                                <a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="javascript:void(0)"><span class="sub-side-menu__label">Submenu-2</span><i class="sub-angle fe fe-chevron-right"></i></a>
                                <ul class="sub-slide-menu">
                                    <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.1</a></li>
                                    <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.2</a></li>
                                    <li class="sub-slide2">
                                        <a class="sub-side-menu__item2" href="javascript:void(0)" data-bs-toggle="sub-slide2"><span class="sub-side-menu__label2">Submenu-2.3</span><i class="sub-angle2 fe fe-chevron-right"></i></a>
                                        <ul class="sub-slide-menu2">
                                            <li><a href="javascript:void(0)" class="sub-slide-item2">Submenu-2.3.1</a></li>
                                            <li><a href="javascript:void(0)" class="sub-slide-item2">Submenu-2.3.2</a></li>
                                            <li><a href="javascript:void(0)" class="sub-slide-item2">Submenu-2.3.3</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.4</a></li>
                                    <li><a class="sub-slide-item" href="javascript:void(0)">Submenu-2.5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-category">
                        <h3>General</h3>
                    </li>

                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-map-pin"></i><span class="side-menu__label">Maps</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Maps</a></li>
                            <li><a href="{{ absolute_url(path('app_maps1')) }}" class="slide-item">Leaflet Maps</a></li>
                            <li><a href="{{ absolute_url(path('app_maps2')) }}" class="slide-item">Mapel Maps</a></li>
                            <li><a href="{{ absolute_url(path('app_maps')) }}" class="slide-item">Vector Maps</a></li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-bar-chart-2"></i><span class="side-menu__label">Charts</span><span class="badge bg-secondary side-badge">6</span><i class="angle fe fe-chevron-right hor-angle"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Charts</a></li>
                            <li><a href="{{ absolute_url(path('app_chart_chartist')) }}" class="slide-item">Chart Js</a></li>
                            <li><a href="{{ absolute_url(path('app_chart_flot')) }}" class="slide-item"> Flot Charts</a></li>
                            <li><a href="{{ absolute_url(path('app_chart_echart')) }}" class="slide-item"> ECharts</a></li>
                            <li><a href="{{ absolute_url(path('app_chart_morris')) }}" class="slide-item"> Morris Charts</a></li>
                            <li><a href="{{ absolute_url(path('app_chart_nvd3')) }}" class="slide-item"> Nvd3 Charts</a></li>
                            <li><a href="{{ absolute_url(path('app_charts')) }}" class="slide-item"> C3 Bar Charts</a></li>
                            <li><a href="{{ absolute_url(path('app_chart_line')) }}" class="slide-item"> C3 Line Charts</a></li>
                            <li><a href="{{ absolute_url(path('app_chart_donut')) }}" class="slide-item"> C3 Donut Charts</a></li>
                            <li><a href="{{ absolute_url(path('app_chart_pie')) }}" class="slide-item"> C3 Pie charts</a></li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-wind"></i><span class="side-menu__label">Icons</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Icons</a></li>
                            <li><a href="{{ absolute_url(path('app_icons')) }}" class="slide-item"> Font Awesome</a></li>
                            <li><a href="{{ absolute_url(path('app_icons2')) }}" class="slide-item"> Material Design Icons</a></li>
                            <li><a href="{{ absolute_url(path('app_icons3')) }}" class="slide-item"> Simple Line Icons</a></li>
                            <li><a href="{{ absolute_url(path('app_icons4')) }}" class="slide-item"> Feather Icons</a></li>
                            <li><a href="{{ absolute_url(path('app_icons5')) }}" class="slide-item"> Ionic Icons</a></li>
                            <li><a href="{{ absolute_url(path('app_icons6')) }}" class="slide-item"> Flag Icons</a></li>
                            <li><a href="{{ absolute_url(path('app_icons7')) }}" class="slide-item"> pe7 Icons</a></li>
                            <li><a href="{{ absolute_url(path('app_icons8')) }}" class="slide-item"> Themify Icons</a></li>
                            <li><a href="{{ absolute_url(path('app_icons9')) }}" class="slide-item">Typicons Icons</a></li>
                            <li><a href="{{ absolute_url(path('app_icons10')) }}" class="slide-item">Weather Icons</a></li>
                            <li><a href="{{ absolute_url(path('app_icons11')) }}" class="slide-item">Bootstrap Icons</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"/></svg></div>
            </div>
        </div>
        <!--/APP-SIDEBAR-->
    </div>
    <!--/APP-SIDEBAR-->
{% else %}
    <!--APP-SIDEBAR-->
    <div class="sticky">
        <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
        <div class="app-sidebar">
            <div class="side-header">
                <a class="header-brand1" href="{{ absolute_url(path('app_home')) }}">
                    <img src="{{absolute_url(asset('build/images/brand/logo.png'))}}" class="header-brand-img desktop-logo" alt="logo">
                    <img src="{{absolute_url(asset('build/images/brand/logo-1.png'))}}" class="header-brand-img toggle-logo" alt="logo">
                    <img src="{{absolute_url(asset('build/images/brand/logo-2.png'))}}" class="header-brand-img light-logo" alt="logo">
                    <img src="{{absolute_url(asset('build/images/brand/logo-3.png'))}}" class="header-brand-img light-logo1" alt="logo">
                </a>
                <!-- LOGO -->
            </div>
            <div class="main-sidemenu">
                <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/></svg></div>
                <ul class="side-menu">
                    <li class="sub-category">
                        <h3>Main</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item has-link" data-bs-toggle="slide" href="{{ absolute_url(path('app_home')) }}"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Tableau de bord</span></a>
                    </li>
                    <li class="sub-category">
                        <h3>UI Kit</h3>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">Apps</span><i class="angle fe fe-chevron-right"></i></a>
                        <ul class="slide-menu">
                            <li class="side-menu-label1"><a href="javascript:void(0)">Apps</a></li>
                            <li><a href="{{ absolute_url(path('app_cards')) }}" class="slide-item"> Cards design</a></li>
                            <li><a href="{{ absolute_url(path('app_calendar')) }}" class="slide-item"> Default calendar</a></li>
                            <li><a href="{{ absolute_url(path('app_calendar2')) }}" class="slide-item"> Full calendar</a></li>
                            <li><a href="{{ absolute_url(path('app_chat')) }}" class="slide-item"> Chat</a></li>
                            <li><a href="{{ absolute_url(path('app_notify')) }}" class="slide-item"> Notifications</a></li>
                            <li><a href="{{ absolute_url(path('app_sweetalert')) }}" class="slide-item"> Sweet alerts</a></li>
                            <li><a href="{{ absolute_url(path('app_rangeslider')) }}" class="slide-item"> Range slider</a></li>
                            <li><a href="{{ absolute_url(path('app_scroll')) }}" class="slide-item"> Content Scroll bar</a></li>
                            <li><a href="{{ absolute_url(path('app_loaders')) }}" class="slide-item"> Loaders</a></li>
                            <li><a href="{{ absolute_url(path('app_counters')) }}" class="slide-item"> Counters</a></li>
                            <li><a href="{{ absolute_url(path('app_rating')) }}" class="slide-item"> Rating</a></li>
                            <li><a href="{{ absolute_url(path('app_timeline')) }}" class="slide-item"> Timeline</a></li>
                            <li><a href="{{ absolute_url(path('app_treeview')) }}" class="slide-item"> Treeview</a></li>
                            <li><a href="{{ absolute_url(path('app_chart')) }}" class="slide-item"> Charts</a></li>
                            <li><a href="{{ absolute_url(path('app_footers')) }}" class="slide-item"> Footers</a></li>
                            <li><a href="{{ absolute_url(path('app_users_list')) }}" class="slide-item"> User List</a></li>
                            <li><a href="{{ absolute_url(path('app_search')) }}" class="slide-item">Search</a></li>
                            <li><a href="{{ absolute_url(path('app_crypto_currencies')) }}" class="slide-item"> Crypto-currencies</a></li>
                            <li><a href="{{ absolute_url(path('app_widgets')) }}" class="slide-item"> Widgets</a></li>

                        </ul>
                    </li>

                </ul>
                <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"/></svg></div>
            </div>
        </div>
        <!--/APP-SIDEBAR-->
    </div>
    <!--/APP-SIDEBAR-->
{% endif %}
