{% extends 'base.html.twig' %}

{% block body %}

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">ECharts</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Charts</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">ECharts</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW-1 OPEN -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Line chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="echart1" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Combination of Line & Bar Chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="echart2" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-1 CLOSED -->

                        <!-- ROW-2 OPEN -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Vertical Line chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="echart3" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Vertical Combination of Line & Bar Chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="echart4" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-2 CLOSE -->

                        <!-- ROW-3 OPEN -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Bar Chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="echart5" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Horizontal Bar Chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="echart6" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-3 CLOSE -->

                        <!-- ROW-4 OPEN -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Single line chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="echart7" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Single smooth line chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="echart8" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-4 CLOSED -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

    <!-- C3 CHART JS -->
    <script src="{{absolute_url(asset('build/plugins/charts-c3/d3.v5.min.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/charts-c3/c3-chart.js'))}}"></script>

    <!-- CHART-CIRCLE JS-->
    <script src="{{absolute_url(asset('build/plugins/jquery/circle-progress.min.js'))}}"></script>

    <!-- ECHART JS -->
    <script src="{{absolute_url(asset('build/plugins/echarts/echarts.js'))}}"></script>
    {{ encore_entry_script_tags('js/echarts') }}
		
{% endblock %}