<form method="post" action="{{ path('app_utilisateur_lib_type_contact_delete', {'id': type_contact.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_contact.id) }}">
    <button class="btn">Delete</button>
</form>
