{% extends 'base.html.twig' %}

{% block title %}TypeContact index{% endblock %}

{% block body %}
    <h1>TypeContact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Icon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_contact in type_contacts %}
            <tr>
                <td>{{ type_contact.id }}</td>
                <td>{{ type_contact.libelle }}</td>
                <td>{{ type_contact.icon }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_lib_type_contact_show', {'id': type_contact.id}) }}">show</a>
                    <a href="{{ path('app_utilisateur_lib_type_contact_edit', {'id': type_contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_lib_type_contact_new') }}">Create new</a>
{% endblock %}
