{% extends 'base.html.twig' %}

{% block title %}TypeContact{% endblock %}

{% block body %}
    <h1>TypeContact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_contact.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type_contact.libelle }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ type_contact.icon }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_lib_type_contact_index') }}">back to list</a>

    <a href="{{ path('app_utilisateur_lib_type_contact_edit', {'id': type_contact.id}) }}">edit</a>

    {{ include('utilisateur/lib/type_contact/_delete_form.html.twig') }}
{% endblock %}
