{% extends 'base.html.twig' %}

{% block body %}

                       <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Empty</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Empty</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW-1 OPEN -->
                        <!-- Row -->
                        <div class="row ">
                            <div class="col-md-12">
                            </div>
                        </div>
                        <!-- /Row -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

   
		
{% endblock %}