{% extends 'base.html.twig' %}

{% block body %}

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">File Manager List</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">File Manager</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">file-manager List</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- Row -->
                        <div class="row row-sm">
                            <div class="col-lg-12 col-xl-12">
                                <div class="row row-sm">
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}"><img src="{{absolute_url(asset('build/images/media/files/03.jpg'))}}" alt="img" class="file-manager-list w-100"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">image2.jpg</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">66 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}" class="mx-auto my-3"><img src="{{absolute_url(asset('build/images/media/files/pdf.png'))}}" alt="img"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">file.pdf</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">32 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}"><img src="{{absolute_url(asset('build/images/media/files/07.jpg'))}}" alt="img" class="file-manager-list w-100"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">image1.jpg</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">76 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}" class="mx-auto my-3"><img src="{{absolute_url(asset('build/images/media/files/excel.png'))}}" alt="img"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">excel.xls</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">34 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}"><img src="{{absolute_url(asset('build/images/media/files/06.jpg'))}}" alt="img" class="file-manager-list w-100"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">nature.jpg</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">66 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}" class="mx-auto my-3"><img src="{{absolute_url(asset('build/images/media/files/ppt1.png'))}}" alt="img"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">demo.ppt</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">67 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}"><img src="{{absolute_url(asset('build/images/media/files/02.jpg'))}}" alt="img" class="file-manager-list w-100"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="d-flex">
                                                        <h5 class="mb-0 fw-semibold text-break">image1.jpg</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">76 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}" class="mx-auto my-3"><img src="{{absolute_url(asset('build/images/media/file-video.png'))}}" alt="img"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">video.mp4</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto mt-3">
                                                        <span class="text-muted mb-0">320 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}" class="mx-auto my-3"><img src="{{absolute_url(asset('build/images/media/files/word.png'))}}" alt="img"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">word.doc</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">320 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}"><img src="{{absolute_url(asset('build/images/media/files/01.jpg'))}}" alt="img" class="file-manager-list w-100"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">mountain.jpg</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">320 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}" class="mx-auto my-3"><img src="{{absolute_url(asset('build/images/media/files/pdf.png'))}}" alt="img"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">file.pdf</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">32 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}" class="mx-auto my-3"><img src="{{absolute_url(asset('build/images/media/files/excel.png'))}}" alt="img"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">excel.xls</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">34 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}" class="mx-auto my-3"><img src="{{absolute_url(asset('build/images/media/files/ppt1.png'))}}" alt="img"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">profile.ppt</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">67 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}"><img src="{{absolute_url(asset('build/images/media/files/04.jpg'))}}" alt="img" class="file-manager-list w-100"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">nature.jpg</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">66 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xxl-2">
                                        <div class="card overflow-hidden">
                                            <a href="{{absolute_url(path('app_filemanager_details'))}}" class="mx-auto my-3"><img src="{{absolute_url(asset('build/images/media/files/zip1.png'))}}" alt="img"></a>
                                            <div class="card-footer">
                                                <div class="d-flex">
                                                    <div class="">
                                                        <h5 class="mb-0 fw-semibold text-break">exe.zip</h5>
                                                    </div>
                                                    <div class="ms-auto my-auto">
                                                        <span class="text-muted mb-0">320 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Row -->
                        </div>
                        <!-- End Row -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

   <!-- INTERNAL File-Uploads Js-->
    <script src="{{absolute_url(asset('build/plugins/fancyuploder/jquery.ui.widget.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/fancyuploder/jquery.fileupload.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/fancyuploder/jquery.iframe-transport.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/fancyuploder/jquery.fancy-fileupload.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/fancyuploder/fancy-uploader.js'))}}"></script>

		
{% endblock %}