<form method="post" action="{{ path('app_utilisateur_profil_user_delete', {'id': profil_user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profil_user.id) }}">
    <button class="btn">Delete</button>
</form>
