{% extends 'base.html.twig' %}

{% block title %}Edit ProfilUser{% endblock %}

{% block body %}
    <h1>Edit ProfilUser</h1>

    {{ include('utilisateur/profil_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_utilisateur_profil_user_index') }}">back to list</a>

    {{ include('utilisateur/profil_user/_delete_form.html.twig') }}
{% endblock %}
