{% extends 'base.html.twig' %}

{% block title %}ProfilUser index{% endblock %}

{% block body %}
    <h1>ProfilUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Genre</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>NaissanceAt</th>
                <th>Avatar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil_user in profil_users %}
            <tr>
                <td>{{ profil_user.id }}</td>
                <td>{{ profil_user.genre }}</td>
                <td>{{ profil_user.nom }}</td>
                <td>{{ profil_user.prenom }}</td>
                <td>{{ profil_user.naissanceAt ? profil_user.naissanceAt|date('Y-m-d') : '' }}</td>
                <td>{{ profil_user.avatar }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_profil_user_show', {'id': profil_user.id}) }}">show</a>
                    <a href="{{ path('app_utilisateur_profil_user_edit', {'id': profil_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_profil_user_new') }}">Create new</a>
{% endblock %}
