{% extends 'base.html.twig' %}

{% block body %}

    <!-- PAGE-HEADER -->
    <div class="page-header">
        <h1 class="page-title">Création d'un nouveau profil</h1>
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ajouter un profil</li>
            </ol>
        </div>
    </div>
    <!-- PAGE-HEADER END -->

    <!-- ROW-1 OPEN -->

    {{ form_start(form) }}
    <div class="row">

        <div class="col-xl-4">
            <div class="card h-100">
                <div class="card-header">
                    <h3 class="card-title">Formulaire profil</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                {{ form_row(form.genre) }}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                {{ form_row(form.nom) }}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                {{ form_row(form.prenom) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.biographie) }}
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                {{ form_row(form.naissanceAt) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card h-100">
                <div class="card-header">
                    <div class="card-title">Compte utilisateur</div>
                </div>
                <div class="card-body">
                    <div class="text-center chat-image mb-5">
                        <div class="avatar avatar-xxl chat-profile mb-3 brround">
                            <a class="" href="{{absolute_url(path('app_profile'))}}"><img id="profil_image" alt="avatar" src="{{absolute_url(asset('build/images/users/7.jpg'))}}" class="brround"></a>
                        </div>
                        <div class="main-chat-msg-name">
                            <a href="{{absolute_url(path('app_profile'))}}">
                                <h5 id="identity" class="mt-3 mb-1 text-dark fw-semibold">Nom Prénom</h5>
                            </a>
                            {#                            <p class="text-muted mt-0 mb-0 pt-0 fs-13">Web Designer</p>#}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"> {{ form_label(form.file) }}</label>
                        <div class="wrap-input100 validate-input input-group">
                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                            </a>
                            {{ form_widget(form.file) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"> {{ form_label(form.email) }}</label>
                        <div class="wrap-input100 validate-input input-group">
                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">{{ form_label(form.plainPassword) }}</label>
                        <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i>
                            </a>
                            {{ form_widget(form.plainPassword) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"> {{ form_label(form.roles) }}</label>
                        <div class="wrap-input100 validate-input input-group">
                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                            {{ form_widget(form.roles) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card  h-100 panel-theme">
                <div class="card-header">
                    <div class="float-start">
                        <h3 class="card-title">Contact</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="card-body no-padding">
                    <div id="contacts_container" data-index="{{ form.contacts|length }}" data-prototype="{{ form_widget(form.contacts.vars.prototype)|e('html_attr') }}">

                        {% for contactForm in form.contacts %}
                            <div class="contact-form">
                                {{ form_row(contactForm) }}
                                <button class="remove-contact btn btn-danger">Supprimer</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer no-padding">
                    <button id="add_contact" class="btn btn-primary">Ajouter un contact</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <!-- ROW-1 CLOSED -->

{% endblock %}

{% block javascripts %}
    {{parent()}}

    <!-- SHOW PASSWORD JS -->
    <script src="{{absolute_url(asset('build/plugins/show-password/show-password.min.js'))}}"></script>

    <!-- INTERNAL SELECT2 JS -->
    <script src="{{absolute_url(asset('build/plugins/select2/select2.full.min.js'))}}"></script>
    {{ encore_entry_script_tags('js/select2') }}
    <script>
        // JavaScript
        document.addEventListener("DOMContentLoaded", function() {
            var input = document.getElementById("profil_user_file");
            var avatar = document.querySelector(".avatar");
            var image = document.getElementById("profil_image");

            input.addEventListener("change", function() {
                var file = input.files[0];
                var reader = new FileReader();

                reader.onload = function(e) {
                    image.src = e.target.result;
                };

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    image.src = "";
                }
            });
            var nomInput = document.getElementById("profil_user_nom");
            var prenomInput = document.getElementById("profil_user_prenom");
            var genreSelect = document.getElementById("profil_user_genre");
            var h5Nom = document.getElementById("identity");

            function updateNom() {
                var nom = nomInput.value;
                var prenom = prenomInput.value;
                var genre = genreSelect.value === "1" ? "Monsieur" : "Madame";

                h5Nom.textContent = genre + " " + nom + " " + prenom;
            }

            nomInput.addEventListener("change", updateNom);
            prenomInput.addEventListener("change", updateNom);
            genreSelect.addEventListener("change", updateNom);


            // Add contact
            var addButton = document.getElementById("add_contact");
            var contactsContainer = document.getElementById("contacts_container");
            var index = contactsContainer.dataset.index;

            addButton.addEventListener("click", function(e) {
                e.preventDefault();
                addContactForm();
            });

            contactsContainer.addEventListener("click", function(e) {
                if (e.target.classList.contains("remove-contact")) {
                    e.preventDefault();
                    removeContactForm(e.target);
                }
            });

            function addContactForm() {
                var prototype = contactsContainer.dataset.prototype;
                var newForm = prototype.replace(/__name__/g, index);
                index++;

                var formElement = document.createElement("div");
                formElement.classList.add("contact-form");
                formElement.innerHTML = newForm;

                var removeButton = document.createElement("button");
                removeButton.classList.add("remove-contact", "btn", "btn-danger");
                removeButton.textContent = "Supprimer";

                formElement.appendChild(removeButton);

                contactsContainer.appendChild(formElement);
            }

            function removeContactForm(button) {
                var formElement = button.closest(".contact-form");
                formElement.remove();
            }
        });

    </script>
{% endblock %}