{% extends 'base.html.twig' %}

{% block title %}ProfilUser{% endblock %}

{% block body %}
    <h1>ProfilUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profil_user.id }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ profil_user.genre }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ profil_user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ profil_user.prenom }}</td>
            </tr>
            <tr>
                <th>NaissanceAt</th>
                <td>{{ profil_user.naissanceAt ? profil_user.naissanceAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ profil_user.avatar }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_profil_user_index') }}">back to list</a>

    <a href="{{ path('app_utilisateur_profil_user_edit', {'id': profil_user.id}) }}">edit</a>

    {{ include('utilisateur/profil_user/_delete_form.html.twig') }}
{% endblock %}
